@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

* {
    font-family: "roboto", sans-serif;
    margin: 0;
    text-decoration: none;
}

/* ---------------- Colors ---------------- */

.bg-color-heading {
    background-color: antiquewhite;
}

.ui-menu-color-home {
    background-color: #ff0184;
}

.ui-menu-color-resume {
    background-color: aqua;
}

.ui-menu-color-contact {
    background-color: chartreuse;
}

.ui-menu-color-download {
    background-color: yellow;
}

/* ---------------- Heading ---------------- */

.logo {
    background-image: url(../images/photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading {
    margin: 10px;
}

.name {
    font-size: 48pt;
    font-weight: 300;
    color: #684b04;
    padding: 5px;
    margin-top: 20px;
}

.title {
    font-family: "roboto", sans-serif;
    color: #281d01;
    font-weight: 100;
    padding: 5px;
    margin-bottom: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14pt;
    padding: 0;
}

.menu-item {
    height: 180px;
    text-align: center;
}

.menu-item a {
    text-align: center;
    color: #402100;
}

.menu-item i {
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

.menu-item span {
    width: 100%;
    display: block;
    font-size: 18px;
    padding-top: 5px;
}